body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1F2937;
  color: #E5E7EB;
  min-height: 5vh;
}

a {
  color: #b4b9ff;
  text-decoration: none;
}

footer {
  min-height: 5vh;
  background-color: #1F2937;
  color: #E5E7EB;
}

p {
  text-align: center;
}

img {
  margin: 10px;
}

.game-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #E5E7EB;
}

.players-container {
  display: flex;
  justify-content: space-evenly;
}

.results-container {
  display: flex;
  justify-content: space-between;
}

.result-counter {
  align-self: center;
}

.btn {
  transition: all 0.1s ease-in;
  text-decoration: none;
}

.glow-button:hover {
  color: white;
  box-shadow: 0 5px 15px #b4b9ff;
}

.pc-glow-button {
  transition: all 1s ease-in-out;
  background-color: #f89393;
  border-radius: 12px;
  color: white;
  box-shadow: 0 5px 15px #f05454;
}

#result {
  align-self: center;
}